// Content Styles
.content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    margin-bottom: 20px;
    &-fast-info {
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 500;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/office.jpeg) no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .wrapper {
            color: $brand-color3;
            text-align: center;
        }
        &-big-title {
            padding-bottom: 20px;
            h1 {
                font-size: 25px;
                line-height: 1.3em;
            }
        }
        &-small-title {
            h3 {
                font-size: 16px;
            }
        }
    }
    &-company {
        background: $brand-color1;
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper {
            display: flex;
            justify-content: space-between;
            min-height: 300px;
            @media only screen and (max-width: $tablet-width - 1) {
                flex-flow: column nowrap;
                align-items: center;
            }
        }
        &-photo {
            background: url(../images/gabe.jpg) no-repeat;
            max-width: 660px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            height: 300px;
        }
        &-info {
            max-width: 300px;
            width: 100%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media only screen and (max-width: $tablet-width - 1) {
                margin-top: 20px;
                padding-left: 0px;
            }
            &-logo {
                padding: 20px;
                background: $brand-color2;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                @media only screen and (max-width: $tablet-width - 1) {
                    min-height: 150px;
                    height: 100%;
                }
                img {
                    object-fit: contain;
                    max-height: 100%;
                    max-width: 100%;
                    flex: 1;
                }
            }
            &-type,
            &-known,
            &-location {
                padding-bottom: 10px;
                &-title {
                    font-weight: bold;
                    padding: 10px 0px;
                    color: $brand-color2;
                }
                &-description {
                    font-style: italic;
                    color: $brand-color3;
                }
            }
        }
    }
    &-stories {
        display: flex;
        justify-content: center;
        .wrapper {
            display: flex;
            justify-content: space-between;
            background: $brand-color4;
            padding: 20px;
            @media only screen and (max-width: $tablet-width - 1) {
                flex-flow: column nowrap;
                align-items: center;
            }
        }
        &-main {
            border-right: 1px solid $brand-color5;
            min-height: 100px;
            max-width: 650px;
            width: 100%;
            @media only screen and (max-width: $tablet-width - 1) {
                border-right: none;
                border-bottom: 1px solid $brand-color5;
                
            }
            &-story {
                margin-right: 20px;
                margin-bottom: 20px;
                line-height: 25px;
                @media only screen and (max-width: $tablet-width - 1) {
                    margin-right: 0px;
                }
                &-title {
                    padding: 20px 0px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $brand-color2;
                    font-size: 18px;
                    text-align: center;
                }
                &-date {
                    padding-bottom: 10px;
                }
                &-text {
                    line-height: 1.5em;
                    font-weight: 300;
                    text-align: justify;
                }
                &-read-more {
                    margin-top: 20px;
                }
                &-feedback-user {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 40px;

                    &-picture {}

                    &-information {
                        &-postition {}

                        &-name {}
                    }
                }
            }
        }
        &-more {
            max-width: 300px;
            width: 100%;
            padding: 20px 0px 0px 10px;
            @media only screen and (max-width: $tablet-width - 1) {
                padding-top: 20px;
                padding-left: 0px;
            }
            @media only screen and (max-width: $phones-width - 1) {
                max-width: 100%;
            }
            &-title {
                font-weight: bold;
                padding-bottom: 20px;
                text-transform: uppercase;
                color: $brand-color2;
                font-size: 18px;
            }
            &-story {
                display: flex;
                justify-content: space-between;
                padding-bottom: 30px;
                word-wrap: break-word;
                @media only screen and (max-width: $tablet-width - 1) {
                    flex-flow: column nowrap;
                    align-items: center;
                }
                &-photo {
                    min-width: 100px;
                    width: 100px;
                    height: 80px;
                    margin-bottom: 20px;

                    @media only screen and (max-width: $tablet-width - 1) {
                        min-width: 300px;
                        max-width: 300px;
                        width: 100%;
                        max-height: 150px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    img {
                        object-fit: contain;
                        max-height: 100%;
                        max-width: 100%;
                        @media only screen and (max-width: $tablet-width - 1) {
                            flex: none;
                        }
                    }
                }
                &-text {
                    max-width: 180px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    @media only screen and (max-width: $tablet-width - 1) {
                        max-width: 100%;
                        padding: 0px;
                    }
                    &-title {
                        font-weight: bold;
                        font-style: italic;
                        padding-bottom: 5px;
                    }
                    &-position {
                        padding-bottom: 5px;
                        color: $brand-color2;
                    }
                    &-workplace {
                        padding-bottom: 20px;
                        color: $brand-color6;
                    }
                    &-read-btn {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
